<div class="container">
      <ul class="list-group">
          <!-- <li class="list-group-item">Bread <span>$10</span></li>
          <li class="list-group-item">Potato Chips <span>$6</span></li>
          <li class="list-group-item">Milk <span>$4</span></li> -->
          <li class="list-group-item" *ngFor="let product of cartItems"><b>{{product.name}}</b> <span><b>${{product.price}}</b></span> <div class="btn-group dropdown">
            <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Action</b></button>
            <div class="dropdown-menu">
              <button class="dropdown-item" (click)="onReduceBy1(product)">Reduce by 1</button>
              <button class="dropdown-item" (click)="onRemoveAll(product)">Remove all</button>
            </div>
          </div><span class="step">{{product.count}}</span></li>
        </ul>
        <h5>Total: ${{totalProductsPrice}}</h5>
        <hr>
        <button *ngIf="totalProductsPrice > 0" type="button" class="btn btn-success" (click)="handlePayment()"><b>Checkout</b></button>
</div>
