<form>
  <h2>Checkout</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address">
  </div>
  <div class="form-group">
    <label for="card-holder">Card Holder Name</label>
    <input class="form-control" type="text" id="card-holder">
  </div>

  <div class="form-group">
    <label for="card-number">Credit Card Number</label>
    <input type="text" class="form-control" id="card-number">
  </div>

    <div class="row">
      <div class="col-sm-6">
          <div class="form-group">
              <label for="exp-month">Expiration Month</label>
              <input type="number" class="form-control" id="exp-month">
            </div>
      </div>

      <div class="col-sm-6">
          <div class="form-group">
              <label for="exp-year">Expiration Year</label>
              <input type="number" class="form-control" id="exp-year">
            </div>
      </div>
    </div>

    <div class="form-group">
        <label for="cvc">CVC</label>
        <input type="number" class="form-control" id="cvc">
    </div>

  <button type="submit" class="btn btn-success">Submit Payment</button>
</form>
