<div style="max-width: 60%; text-align: center; margin: 7rem auto">

  <div class="alert alert-danger" *ngIf="loginFailed">
    <strong>Authentication failed, make sure email and password are correct!</strong>
  </div>

  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onLogin()" [disabled]="!form.valid">Log in</button>

    <button type="button" class="btn btn-danger" routerLink="/">Go back</button>
</form>
</div>
