<div class="container" xmlns="">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">All categories</a>
        <a href="#" class="list-group-item list-group-item-action">Bread</a>
        <a href="#" class="list-group-item list-group-item-action">Dairy</a>
        <a href="#" class="list-group-item list-group-item-action">Fruits</a>
        <a href="#" class="list-group-item list-group-item-action">Seasonings & Spices</a>
        <a href="#" class="list-group-item list-group-item-action">Vegetables</a>
      </div>
    </div>

    <div class="card col-lg-3" style="width: 18rem;" *ngFor="let product of breadRecipes">
      <img class="card-img-top" [src]="product.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text"><b>${{product.price}}</b></p>
        <!-- <a style="color: white" class="btn btn-dark" (click)="onAddToShoppingCart(product)">Add to shopping cart</a> -->
        <!-- <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-dark" (click)="onAddToShoppingCart(product)">Add to Shopping Cart</button> -->
        <button type="button" class="btn btn-success" (click)="onAddToShoppingCart(product)">Add to Shopping Cart</button>
      </div>
    </div>
  </div>
</div>

